#Ignore all log directories
**/log

#Ignore all data directories
**/data

# Ignore all results directories
**/results

# Ignore weights folder

**/weights

# snakemake log files

*.snakemake
**/scripts/.snakemake
**/scripts/Analysis/.scripts

# ignore __pycach__

**/utils/__pycache__

# ignore iputhon checkpoint 
*.ipynb_checkpoints

# pycache
*.pyc
